.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  margin-left: 5px;
  object-fit: contain;
  height: 80px;
}
